/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Base/Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Roboto', sans-serif;
	background: #f1c50e;
}

/* Utilities */
.container {
	max-width: 68.75rem;
	margin-inline: auto;
	padding: 5rem 2rem;
}

.text-center {
	text-align: center;
}

.contact-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
}

/* Contact Details */
.detail {
	margin: 1rem 0;
}

.heading {
	text-transform: uppercase;
	letter-spacing: 3px;
}

.subheading {
	font-size: 1.8rem;
	font-weight: 700;
	margin: 1rem 0;
}

/* Contact Form */
.input-text {
	display: block;
	width: 100%;
	background: transparent;
	padding: 1rem;
	border: 2px solid #333;
	margin: 1.3rem 0;
}

.input-text::placeholder,
.input-text::-moz-placeholder,
.input-text::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

.textarea {
	height: 150px;
}

.btn {
	display: inline-block;
	background: transparent;
	padding: 1rem 2rem;
	border: 2px solid #333;
	border-radius: 5px;
	cursor: pointer;
}

@media (max-width: 37.5rem) {
	.container {
		padding: 1rem 2rem;
	}

	.contact-grid {
		grid-template-columns: 1fr;
	}
}
