/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Base/Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Roboto', sans-serif;
	background: #f1c50e;
}

/* Utilities */
.container {
	max-width: 1100px;
	margin: auto;
	padding: 5rem 2rem;
}


.text-center {
	text-align: center;
}

}
